.box {
    background: var(--background-2);
    width: 400px;
    max-width: 100%;
    border-radius: 22px;
    border: 1px solid var(--border-2);
    display: flex;
    flex-direction: row;
    padding: 18px;
    gap: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.2s ease;
    color: var(--foreground-1);

    &:hover {
        background-color: var(--background-1);
        transform: scale(1.01);
    }

    .left_side {
        width: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
    }

    .right_side {
        flex: 1;

        p {
            color: var(--foreground-2);
            margin: 0;
            text-align: left;
            font-size: 1.1rem;
            line-height: 1.6;
        }

        h4 {
            margin: 0;
            text-align: left;
            font-size: 1.3rem;
            margin-bottom: 16px;
            margin-top: 5px;
            color: var(--foreground-1);
        }
    }
}

@media (max-width: 550px) {
    .box {
        width: auto;

        .right_side {
            h4 {
                font-size: 1.2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}