.container {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    color: grey;
    padding: 5px 12px;
    border-radius: 20px;
}

.container a {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    color: grey;
    padding: 5px 12px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;

    &:hover {
        color: #0075FF;
        background: rgb(239, 239, 239);
    }
}