.container {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    color: grey;
    padding: 5px 12px;
    border-radius: 20px;

    &:hover span {
        color: var(--primary-1);
    }
}

.container a {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    color: var(--foreground-3);
    padding: 5px 12px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}