.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    border-radius: 42px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #F0F0F0;
    background: #F0F0F0;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &.selected {
        border-bottom-color: #0075FF;
        background: #BFD5FF;
        color: #005ec9;

    }
}