.container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    .chip,
    .show_all {
        padding: 10px 18px;
        background: #F0F0F0;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        color: #565656;
        transition: 0.2s ease-in-out;
    }

    .chip:hover {
        background: #e5e5e5;
    }

    .chip.selected {
        background: #C6D4F8;
        color: #0075FF;

        span {
            color: #0075FF;
        }
    }
}