.container {
    margin-bottom: 30px;
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        font-weight: 400;
        color: var(--foreground-1);
    }

    h3 {
        margin-top: 5px;
    }
}