@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.container {
    background: var(--background-1);
    padding: 18px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: row;

    &.loading {
        height: 95px;
        background: var(--skeleton-animation-background);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .text {
        flex: 1;
    }

    .graph svg {
        width: 40px;
    }

    h3 {
        margin: 0;
        line-height: 1.8;
        font-size: 16px;
        font-weight: 600;
        color: var(--foreground-1)
    }

    p {
        margin: 0;
        line-height: 1.8;
        font-size: 16px;
        color: var(--foreground-3);
    }
}