.container {
    margin-bottom: 50px;
    width: 400px;
    max-width: 100%;
}

.background {
    background: var(--border-2);
    height: 3px;
    position: relative;
}

.progress {
    background: var(--foreground-1);
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
}